<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .con {
            width: 1200px;
            margin: 0 auto;
        }

        .con-user {
            width: 300px;
            padding: 30px 50px;
            border: 1px solid pink;
            background-color: #eee;
        }
    </style>
    <script src="js/jQuery v1.9.1.min.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="con">
        <div class="con-user">
            <ul id="app">
                <!-- <li v-for="item in uArr">
                <a href="#" v-text="item"></a>
            </li> -->
                <div>
                    请输入身份证号：
                    <input type="text" v-model="uid">
                    <button v-on:click="fn">搜索</button>
                </div>
                <div>
                    <p>性别：{{ uArr.sex }}</p>
                    <p>出生年月：{{ uArr.birthday }}</p>
                    <p>地址：{{ uArr.area }}</p>
                </div>
            </ul>
        </div>

        <div class="shuju">
            <div id="sj">

            </div>
        </div>

    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                uid: "",
                uArr: [],
            },
            methods: {
                fn: function () {
                    if (this.uid != "") {
                        getAjax(this.uid);
                    } else {
                        alert("请输入正确的内容！");
                    }

                }
            },
            /*  created: function getArr() {
                 var ajArr = this;
                 $.ajax({
                     type: "get",
                     url: "http://apis.juhe.cn/idcard/index",
                     data: {
                         cardno: ajArr.uid,
                         dtype: 'json',
                         key: '44d1cbaa1665151ec1514e685b68a764'
                     },
                     dataType: "jsonp",
                     success: function (info) {
                         ajArr.uArr = info.result;
                         // debugger
                         console.log(ajArr.uArr);
                     }
                 });
             } */

        });

        // getAjax("612427199107220010");

        // console.log(getAjax("612427199107220010"));

        function getAjax(str) {
            let arr = this;
            $.ajax({
                type: "get",
                url: "http://apis.juhe.cn/idcard/index",
                data: {
                    cardno: str,
                    dtype: 'json',
                    key: '44d1cbaa1665151ec1514e685b68a764'
                },
                error: function (error, Message) {
                    console.log(Message);
                },
                dataType: "jsonp",
                success: function (info) {
                    // arr = info.result;
                    // console.log(info);
                    arr.uArr = info.result;
                    console.log(arr.uArr);
                    // console.log(arr.uArr);
                    // console.log(arr);
                    // debugger

                }
            })
            // debugger
            // return arr;
            console.log(arr);

        }

        /*  $.ajax({
             url: 'http://apis.juhe.cn/idcard/index',
             type: 'get',
             data: {
                 // cardno: '420116199201203716',
                 cardno: '612427199107220010',
                 dtype: 'json',
                 key: '44d1cbaa1665151ec1514e685b68a764'
             },
             dataType: 'jsonp',
             success: function (info) {
                 console.log(info)
             },
             error: function (error, Msgerror) {
                 console.log(Msgerror)
             }
         }) */
    </script>
</body>

</html>