<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="content-type" content="text/html;charset=utf-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .con {
            width: 1200px;
            margin: 0 auto;
        }

        .con-user {
            width: 300px;
            padding: 30px 50px;
            border: 1px solid pink;
            background-color: #eee;
        }
    </style>
    <!-- <script src="js/jQuery v1.9.1.min.js"></script> -->
    <script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="con">
        <div class="con-user">
            <ul id="app">
                <!-- <li v-for="item in uArr">
                <a href="#" v-text="item"></a>
            </li> -->
                <!-- <div>
                    请输入身份证号：
                    <input type="text" v-model="uid">
                    <button v-on:click="fn">搜索</button>
                </div>
                <div>
                    <p>性别：{{ uArr.sex }}</p>
                    <p>出生年月：{{ uArr.birthday }}</p>
                    <p>地址：{{ uArr.area }}</p>
                </div> -->
            </ul>
        </div>

        <div class="shuju">
            <div id="sj">

            </div>
        </div>

    </div>

    <script>
        $(function () {
            $.ajax({
                url: "https://api.douban.com/v2/book/",
                type: "get",
                dataType: "jsonp",
                data: {
                    "id": "1220562",
                },
                success: function (info) {
                    var arr = info;
                    debugger
                    console.log(arr);
                },
                error: function (error, Message) {
                    console.log(Message);
                }
            });
        });
    </script>
</body>

</html>