<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .con {
            width: 1200px;
            margin: 0 auto;
        }

        .con-user {
            width: 300px;
            padding: 30px 50px;
            border: 1px solid pink;
            background-color: #eee;
        }
    </style>
    <script src="js/jQuery.min.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="con">
        <div class="con-user">
            <ul id="app">
                <!-- <li v-for="item in uArr">
                <a href="#" v-text="item"></a>
            </li> -->
                <div>
                    请输入身份证号：
                    <input type="text" v-model="uid">
                    <button v-on:click="fn">搜索</button>
                </div>
                <div>
                    <p>性别：{{ uArr.sex }}</p>
                    <p>出生年月：{{ uArr.birthday }}</p>
                    <p>地址：{{ uArr.area }}</p>
                </div>
            </ul>
        </div>

        <div class="shuju">
            <div id="sj">

            </div>
        </div>

    </div>
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
    <script>
        /* var vm = new Vue({
                            el: "#app",
                            data: {
                                uid: "",
                                uArr: [],
                            },
                            methods: {
                                fn: function () {
                                    if (this.uid != "") {
                                        getAjax(this.uid);
                                    } else {
                                        alert("请输入正确的内容！");
                                    }

                                }
                            },


                        }); */
        $(function () {
            getAjax();

            function getAjax() {
                // let arr = this;
                $.ajax({
                    type: "get",
                    url: "http://v.juhe.cn/toutiao/index",
                    dataType: "json",
                   
                    data: {
                        type: "top",
                        key: "e6ce9e8fd1b6d1e6e40b74b9d6a6aff8",
                    },
                    success: function (res) {
                        console.log(res);
                        debugger
                    },

                    error: function (error, Message) {
                        console.log(Message);
                    },

                })
            }
        })
    </script>
</body>

</html>